.recipes {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.recipes > div {
    margin: 2em;
}
